<div class="page-header margin-bottom-35">
    <md-toolbar>
        <h1 class="project-title" layout="row" layout-align="start end">
            <div class="title">
                <a href="/project.php#/{{projectData.id}}/home">{{projectData.title}}</a>
            </div>
            <span class="small-text due-date-project small-text--grey">
                Due in 20 days
            </span>
        </h1>
        <div class="md-toolbar-tools">
            <div layout="column" flex="65" class="margin-right12-5">
                <div layout="row" class="name-project" flex>
                    <div sub-nav-menu-button current-page="7"></div>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>
<div ng-show="hasCustomUI" layout = "row">
  <div class="container">
      <!--Custom UI Content will be displayed here-->
      <div class="content-placeholder"></div>
  </div>
</div>
<div class="project-run-services padding-10" ng-if="!runHistory" ng-show="!hasCustomUI" layout="column">
	<h2><a ui-sref="project.services-detail({ServiceId: ServiceId})" >{{service.title}}</a></h2>
	<div layout="row" layout-align="space-between center">
		<a ng-href="{{'project.php#/' + projectData.id + '/services/' + service.id + '/run/run-history'}}" class="link margin-top8">
			Run History
		</a>
		<!-- <md-progress-linear flex="30" md-mode="determinate" ng-if="status == 'running'" value="{{service.currentStatus.percentCompleted}}"></md-progress-linear> -->
		<div>
			<md-button ng-click="" ng-show="false" class="md-raised">
				Visualize
			</md-button>
			<md-button ng-click="saveRun()" ng-if="version1" class="md-raised">
				Save Run
			</md-button>
			<md-button ng-disabled="isRunning()" ng-click="run()" class="md-raised md-primary">
				Run
			</md-button>
		</div>
	</div>
	<h3>Status: {{status}}</h3>
	<h3>Last Run Status: {{lastStatus}}</h3>
	<h3>Your Run Time: {{runTime}} s.</h3>
	<h3>Last Run Time: {{lastRunTime}} s.</h3>
	<h3>Average Run: {{averageRun}} s.</h3>
	<div layout="row">
		<div flex="50" class="inputs">
			<div layout="row" class="margin-bottom-10" layout-align="space-between center">
				<h2>Inputs</h2>
				<div class="inputs-button ">
					<md-button ng-disabled="!isChangedValues" ng-click="default()" class="md-raised  dmc-button margin-left20">
						Default
					</md-button>
					<md-button ng-disabled="!isChangedOrder" ng-click="reset()" class="md-raised  dmc-button margin-left20">
						Reset Order
					</md-button>
					<md-button ng-disabled="!isChangedOrder" ng-click="save()" class="md-raised md-primary dmc-button margin-left20">
						Save Order
					</md-button>
				</div>
			</div>
			<md-content>
				<md-list class="list-inputs" ui-sortable="sortableOptions" ng-model="service.interfaceModel.inputs">
					<md-list-item ng-repeat="item in service.interfaceModel.inputs" layout="row" layout-align="start end">
						<div flex="50" class="left">
							<md-input-container>
							<label>{{item.name}}</label>
                <input maxlength="20" ng-change="changedValue()" ng-model="item.value" ng-if="item.type != 'File'">
							 <input type="file" file-upload-model="item.value" ng-if="item.type == 'File'">
							</md-input-container>
						</div>
						<div flex="50" class="right">
							&nbsp;{{item.unit}} ({{item.type}})
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
		<div flex="50" class="outputs">
			<h2>Outputs</h2>
			<md-content>
                <md-list class="list-inputs" ui-sortable="sortableOutputOptions" ng-model="service.interfaceModel.outParams">
                    <md-list-item ng-repeat="item in service.interfaceModel.outParams" layout="row" layout-align="start end">
                        <div flex="50" class="left">
                            <md-input-container style="padding-bottom: 0">
                                <label style="color: #757575;">{{item.name}}</label>
                                <input maxlength="20" style="color: #333;" ng-disabled="true" ng-model="item.value">
                            </md-input-container>
                        </div>
                        <div flex="50" class="right">
                            &nbsp;{{item.unit}} ({{item.type}})
                        </div>
                    </md-list-item>
                </md-list>

				<!--<div class="content"-->
                     <!--ui-sortable="sortableOutputOptions"-->
                     <!--ng-model="service.interfaceModel.outParams">-->
					<!--<div layout="row"-->
                         <!--ng-show="showOutputs"-->
                         <!--class="output"-->
                         <!--layout-align="space-between center"-->
                         <!--ng-repeat="item in service.interfaceModel.outParams">-->
                        <!--<div layout="column">-->
                            <!--<h2 layout="row">{{item.name}}</h2>-->
                            <!--<div layout="row">-->
						        <!--<h3 flex><span>{{item.value}}</span> {{item.unit}} ({{item.type}})</h3>-->
                            <!--</div>-->
                        <!--</div>-->
					<!--</div>-->
				<!--</div>-->
			</md-content>
		</div>

	</div>
</div>
