<div class="container container-account" layout="row" ng-if="accountData.id">
    <div class="content-column left-content margin-right12-5" layout="column" flex="20">
        <div class="content-panel" account-menu account-id="accountId" page="page"></div>
    </div>
    <div class="content-column right-content margin-left12-5" layout="column" flex>
        <div class="content-panel">
            <div class="content-panel-body">
                <md-content>
                    <div class="header-right-content" layout="row">
                        <div layout="column">
                            <h2 class="md-title">{{title}}</h2>
                        </div>
                        <h5 class="subtitle" ng-hide="!role && !isVerified">Verified</h5>
                        <md-button class="md-raised deactivate-button"
                                   style="display:none"
                                   ng-click="deactivateAccount()">{{activatedText}}</md-button>
                        <span layout="column" flex></span>
                        <md-button class="md-raised md-primary save-button" ng-click="saveChanges()">Save</md-button>
                    </div>
                    <div class="inputs-container" layout="row">
                        <md-input-container flex="30">
                            <label>First name</label>
                            <input ng-model="user.firstName"
                                   id="editFirstName"
                                   ng-blur="blurInput()"
                                   ng-disabled="isVerified">
                        </md-input-container>
                        <md-input-container flex="30">
                            <label>Last Name</label>
                            <input ng-model="user.lastName"
                                   ng-blur="blurInput()"
                                   ng-disabled="isVerified">
                        </md-input-container>
                        <md-input-container flex="40">
                            <label>Email Address</label>
                            <input ng-model="user.email"
                                   ng-blur="blurInput()"
                                   type="email"
                                   ng-disabled="isVerified">
                        </md-input-container>
                    </div>
                    <div class="inputs-container" layout="row" layout-align="start end" >
                        <md-input-container flex="45">
                            <label>Display Name</label>
                            <input ng-blur="blurInput()"
                                   autofocus
                                   ng-model="user.displayName">
                        </md-input-container>

                        <div flex="45" layout="column" class="autocomplete-block">
                            <md-autocomplete
                                md-floating-label="Time Zone"
                                ng-disabled="ctrl.isDisabled"
                                md-no-cache="ctrl.noCache"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="item in ctrl.querySearch(ctrl.searchText)"
                                md-item-text="item.display"
                                md-min-length="0"
                                ng-blur="blurInput()"
                                placeholder="What is your time zone?"
                            >
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found for "{{ctrl.searchText}}".
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                    <div class="inputs-container" layout="row" layout-align="start" >
                        <div flex="40" class="autocomplete-block">
                            <md-autocomplete id="orgSelect"
                                md-floating-label="Organization Name"
                                ng-disabled="isVerified"
                                md-no-cache="ctrl.noCache"
                                md-selected-item="ctrl.selectedCompany"
                                md-search-text="ctrl.searchCompany"
                                md-search-text-change="ctrl.searchCompanyChange(ctrl.searchCompany)"
                                md-selected-item-change="ctrl.setCompany(item)"
                                md-items="item in ctrl.queryCompanySearch(ctrl.searchCompany)"
                                md-item-text="item.name"
                                placeholder="Organization Name"
                                ng-blur="blurInput()"
                            >
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchCompany" md-highlight-flags="^i">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found for "{{ctrl.searchCompany}}".
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-show="!isVerified" ng-click="resendNotification()">Resend Notification</md-button>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-show="!isVerified" href="/company-profile.php#/create">Create New Organization</md-button>
                        </div>
                    </div>
                    <div layout="row" ng-if="!isVerified">
                        <div layout="column" flex="75">
                            <md-input-container>
                                <label>Verification Token</label>
                                <input type="text" ng-model="token.token">
                            </md-input-container>

                            <p class="error" ng-show="error != ''">{{error}}</p>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-click="verifyToken()" flex="20">Verify</md-button>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>
