<div layout="column">
    <div layout="row" class="top10">
        <div class="content-column upload-documents" layout="column">
            <div class="content-panel"
                source="documents"
                ui-widget-upload-documents
                widget-type="'row'"
                auto-upload="false"
                widget-title="'Upload Project Documents'"
                allow-tagging="true"
                is-dmdii="true"
                file-limit="1"
                access-level="docAccessLevels">
            </div>
        </div>
    </div>
    <div class="slim-margin error" ng-show="noDocSelected">
        <p>You <b>must</b> select a document</p>
    </div>

    <div layout="row" layout-align="end start">
        <md-button class="md-raised md-primary save-button" ng-click="uploadDocs()">Save</md-button>
    </div>
</div>
