<div class="page-header">
    <md-toolbar>
        <div class="md-toolbar-tools my-projects-title" layout="row" layout-align="space-between center">
            <h1 flex="33">My Projects</h1>
            <md-button class="link-button add-project-button" md-no-ink
                       href="/add-project.php">
                Add Project
                <ng-md-icon icon="add" size="22"></ng-md-icon>
            </md-button>
            <!-- fill up the space between left and right area -->
            <div layout="column" flex="33">
                <div layout="row" layout-align="end center">
                    <md-input-container>
                        <label>Sort</label>
                        <md-select ng-model="sortModel" ng-change="selectItemDropDown('sort')" md-container-class="margin-dropdown">
                            <md-option ng-click="updateSort()" ng-repeat="sort in sortList track by $index" ng-value="$index">{{sort.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container style="display: none">
                        <label>Filter</label>
                        <md-select ng-model="filterModel" ng-change="selectItemDropDown('filter')" md-container-class="margin-dropdown">
                            <md-option ng-click="selectItemDropDown('filter')" ng-repeat="filter in filterList track by $index" ng-value="$index">{{filter.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>

<div class="container my-projects-container" layout="row" flex="100">
    <div class="content-panel" flex="100"
         id="myProjectsList"
         ui-widget-projects
         widget-format="'my-projects'"
         widget-title="null"
         sort-projects="sortProjects"
         widget-show-all-blocks="true"></div>
</div>
