<div>
    <div layout="row" layout-align="center center" ng-if="!allButtons">
        <md-button aria-label="Favorite" ng-click="addToFavorite()" class="md-icon-button" flex>
            <ng-md-icon ng-if="!cardSource.favorite" icon="favorite_outline" style="fill: grey;" size="18"></ng-md-icon>
            <ng-md-icon ng-if="cardSource.favorite" icon="favorite" style="fill: #689F38;" size="18"></ng-md-icon>
        </md-button>
    </div>
    <div layout="row" class="top-buttons" layout-align="space-between center" ng-if="allButtons">
        <a class="add-group" style="visibility: hidden">
            <ng-md-icon icon="group_add" aria-label="Profile Page" size="18"></ng-md-icon>
        </a>
        <a ng-click="followMember()"
           class="follow-member link-button">{{ cardSource.follow ? 'Unfollow' : 'Follow'}}</a>
        <a ng-click="showMembers(cardSource.id, $event)">
            <ng-md-icon icon="info_outline" aria-label="Profile Page" size="18"></ng-md-icon>
        </a>
    </div>
    <div class="member-card__image">
        <img ng-src="{{cardSource.image ? cardSource.image : 'images/icon-profile-lg.svg'}}" alt="Name member">
    </div>
    <div class="member-card__header" layout="column" layout-padding layout-margin>
        <h3 class="member-name"><a href="/profile.php#/{{cardSource.id}}">{{cardSource.displayName}}</a></h3>
        <span class="company-name"><a href="/company-profile.php#/profile/{{cardSource.companyId}}">{{cardSource.companyName}}</a></span>
    </div>
    <div class="member-card__content" layout="row" layout-padding flex>
        <div class="member-card__content__column" flex="28" layout="column">
            <div class="star-rating">
                <div class="star-rating__buttons">
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14" ></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                </div>
                <div class="star-rating__value">
                    <span class="small-text">(2,2)</span>
                </div>
            </div>
            <div class="member-card__details">
                <p class="description">{{cardSource.aboutMe}}</p>
            </div>
        </div>
    </div>
    <div class="product-card__footer" layout="row">
        <md-button ng-if="!cardSource.isInvite && !allButtons"
                   aria-label="Add to Invitation" flex
                   ng-click="addToInvitation()">
            Add to Invitation
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-if="cardSource.isInvite && !allButtons"
                   aria-label="Added to Invitation"
                   flex ng-click="addToInvitation()">
            Added to Invitation
        </md-button>
        <!-- <md-button ng-if="!cardSource.isCompare && !allButtons"
                   aria-label="Add to Compare" flex
                   ng-click="addToCompare()">
            Add to Compare
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-if="cardSource.isCompare && !allButtons"
                   aria-label="Compare"
                   flex ng-click="addToCompare()">
            Compare
        </md-button> -->
        <md-button ng-if="allButtons && addingToProject == false && !cardSource.added"
                   aria-label="Add to Project"
                   class="add-to-project"
                   flex ng-click="addToProject()">
            Add to Project
        </md-button>

        <!-- After add -->
        <md-button aria-label="Back to Add"
                   class="back-to-add"
                   ng-click="backToAdd()"
                   ng-show="addingToProject == false && cardSource.added">
            <ng-md-icon icon="close" size="17"></ng-md-icon>
        </md-button>
        <md-button aria-label="Project Link"
                   flex
                   class="page-href"
                   ng-show="addingToProject == false && cardSource.added"
                   href="{{cardSource.lastProject.href}}">
        <span flex>
            Added to {{cardSource.lastProject.title}}
        </span>
            <ng-md-icon icon="keyboard_arrow_right" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
        <!--  --------  -->

        <div class="adding-to-project" ng-if="addingToProject">
            <div layout="row" layout-align="center center" class="inner-add-to-project">
                <md-button aria-label="Cancel" layout="column" class="close" ng-click="cancelAddToProject()">
                    <ng-md-icon icon="close" size="17"></ng-md-icon>
                </md-button>
                <div layout="column" class="select-block" flex>
                    <md-select placeholder="Select Project" ng-model="projectModel" md-on-open="loadProjects()">
                        <md-option ng-repeat="p in projects" ng-value="{{p.id}}">{{p.title}}</md-option>
                    </md-select>
                </div>
                <md-button aria-label="Add"
                           layout="column"
                           ng-disabled="!projectModel"
                           class="md-raised add"
                           ng-click="inviteUserToProject(projectModel)">Add
                </md-button>
            </div>
        </div>
    </div>
</div>
