$topHeader: #0A0B0C;
$topHeaderIcon: #FFF;
$countMessageBackground: #65AF3F;
$countMessageText: #FFF;
$HeaderButtonText: #FFF;
$bottomHeader: #363636;
$navigation: #FFF;
$navigationArrow: #65AF3F;
$navigationActive: #65AF3F;
$membersOnlyHeader: #65AF3F;
$membersOnlyHeaderButtonText: #65AF3F;
$membersOnlyNavigationArrow: #363636;
$membersOnlyNavigationActive: #363636;
$membersOnlySearchButton: #363636;

div[dmc-top-header]{
  z-index: 99;
  position: relative;

  header:focus{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}

.space-header{
  position: relative;
  width: 100%;
  height: 110px;
}

.message-container{
  md-menu-item{
    height: auto;
    a{
      line-height: 1.5;
      max-width: 200px;
      white-space: normal;
    }
  }
}

.main-header{
  top: 0;
  z-index: 25;
  position: fixed;
  width: 100%;




  .header-padding{

  }
  md-menu{
    margin: 0;
    padding: 0;
  }

  .header-service-icon {
    .st0 {
      fill: white;
    }
  }

  .top-header {
    background-color: $topHeader;
    height: 55px;
    width: 100%;
    &-inner {
      width: 100%;
      .top-header-content {
        position: relative;
        max-width: 1280px;
        padding: 0 40px;
        margin: 0 auto;
        width: 100%;
      }
    }
    .logo{
      min-width: 191px;
    }
    .info-button{
      .md-button{
        min-height: 55px;
        height: 55px;
        min-width: 55px;
        width: 55px;
        margin: 0 10px;
        padding: 0;

        .count-message{
          color: $countMessageText;
          font-weight: bold;
          font-size: 10px;
          background-color: $countMessageBackground;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          line-height: 16px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      ng-md-icon{
        fill: $topHeaderIcon;
      }
    }

    .user-button,
    .login-button{
      min-height: 55px;
      height: 55px;
      line-height: 55px;
      margin: 0 0 0 20px;
      padding: 0;
      text-transform: none;
      color: $HeaderButtonText;
      ng-md-icon{
        fill: $topHeaderIcon;
      }

    }
  }

  .bottom-header {
    height: 55px;
    background-color: $bottomHeader;
    &.member-portal{
        background-color: $membersOnlyHeader;
    }
    .bottom-header-content{
      position: relative;
      max-width: 1280px;
      padding: 0 40px;
      margin: 0 auto;
      width: 100%;
    }
    .navigation{
      .md-button{
        text-transform: initial;
        font-size: 16px;
        color: $navigation;
        height: 44px;
        min-height: 44px;
        line-height: 44px;
        margin: 0;
        text-transform: uppercase;
        &.active-page{
          color: $navigationActive;
          &.member-portal{
              color: $membersOnlyNavigationActive;
          }
        }

        ng-md-icon {
          margin: -4px -13px 0;
          fill: $navigationArrow;
          &.member-portal{
              fill: $membersOnlyNavigationArrow;
          }
          svg {
            vertical-align: middle;
          }
        }
      }
      .item{
        margin: 0 16px;
        &:first-child{
          margin-left: 0px;
        }
        &:last-child{
          margin-right: 0px;
        }
      }
    }

    .search{
      md-input-container{
        padding: 0;
        width: 240px;
        &:not(.md-input-invalid).md-input-focused md-icon{
          color: #fff;
        }
        input{
          background-color: #5E5E5E;
          @include borderRadius(3px 0 0 3px);
          padding-left: 8px;
          font-size: 15px;
          color: #fff;
        }
      }
      .md-button{
        @include borderRadius(0 3px 3px 0);
        margin: 0;
        height: 30px;
        line-height: 30px;
        max-height: 30px;
        min-height: 30px;
        font-size: 15px;
        width: 30px;
        min-width: 30px;
        background-color: #64B045;
        &.member-portal{
            background-color: $membersOnlySearchButton;
        }
        ng-md-icon{
          fill: #fff;
        }
      }
    }
  }
}

.header-menu-content.md-default-theme{
  a.md-button {
    line-height: 3.2;
  }
  &.messages-list{
    width: 350px;
  }
  &.service-status-list{
    width: 250px;
  }
  &.service-status-list,
  &.messages-list,
  &.notifications-list{
    padding-bottom: 0;
    ng-md-icon{
      fill: #444;
      margin-right: 8px;
      display: inline-block;
    }
    .view-all-link{
      text-transform: uppercase;
    }
    md-menu-item{
      max-height: none;
      height: auto;
      position: relative;
      border-bottom: 1px solid #ccc;
      &.not-read{
        background-color: #E5E5E5;
      }
      .service-and-market-icon{
        width:40px;
        height:28px;
        vertical-align: top;
      }
      &.all-link{
        min-height: 0px;
        cursor: pointer;
        a{
          text-align: center;
          margin: 5px 10px;
          width: 100%;
        }
      }
      .clear-notification{
        position: absolute;
        right: 0px;
        top: 5px;
        width: 18px;
        height: 18px;
        min-height: 0;
        line-height: 0;
        padding: 0;
        ng-md-icon{
          fill: #333;
        }
      }
      &:hover{
        background-color: #f2f2f2;
      }
      img{
        width: 50px;
        display: inline-block;
        position: absolute;
        left: 17px;
      }
      a {
        text-decoration: none;
        color: #333;
        padding:6px 33px 6px 16px;
        span{
          display: inline-block;
        }
      }
      i{
        display: block;
        font-style: normal;
        font-size: 13px;
        max-width: 215px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i:last-child{
        font-size: 12px;
        color: #777;
      }
      .user-name{
        font-weight: bold;
      }
      .text{
        max-width: 250px;
      }
    }
    md-menu-item:last-child{
      border: none;
    }
    .zone-top{
      padding: 0 17px 8px 17px;
      border-bottom: 1px solid #ccc;
      h3{
        margin: 0;
        font-weight: 100;
        font-size: 15px;
      }
      .md-button{
        margin: 0;
        min-height: 0;
        line-height: 23px;
        padding: 0;
        min-width: 0;
      }
    }
  }
  &.messages-list{
    md-menu-item {
      a {
        width: 100%;
        display: block;
        max-width: none;
        padding-left: 80px;
        span {
          display: block;
        }
      }
    }
  }
  &.service-status-list{
    .title-service{
      width: 100%;
      i:last-child,
      i {
        font-size: 14px;
        color: #333;
        margin-bottom: 3px;
      }
    }
    .time{
      width: 100%;
      margin-top: 4px;
      i{
        font-size: 11px;
        color: #777;
        display: inline-block;
        width: 48%;
        &:last-child{
          text-align: right;
          position: absolute;
          font-size: 11px;
          left: 50%;
          width: auto;
          right: 16px;
        }
      }
    }
  }
}
