.container-member-card{
  padding: 8px;
}
.member-card{
  display: block;
  border: 1px solid #ccc;
  @include borderRadius(3px);
  //width: 100%;
  //margin: 3px;
  &__image{
    text-align: center;
    padding: 10px 0 0 0;
    img {
      width: 198px;
    }
  }
  &__header{
    padding-bottom: 0;
    margin-bottom: 0;
    height: 55px;
    .member-name{
      margin: 3px 0;
    }
    a{
      color: #333;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__content{
    padding-top: 0;
    margin-top: 0;
    .star-rating{
      button{
        margin: 0;
      }
    }
  }
  &__content__column{
    padding: 0 8px !important;
  }
  &__details{
    p{
      margin: 0;
      text-align: left;
      min-height: 28px;
    }
  }
  .md-primary{
    color: #fff !important;
  }
}

.member-card{
  margin: 2px 2px;
  .member-card__image{
    img{
      height: 80px;
      width: auto;
    }
  }
  .description{
    max-height: 43px;
    text-overflow: ellipsis;
    height: 43px;
    overflow: hidden;
  }
  .product-card__footer{
    @include borderRadius(0 0px 2px 2px);
  }
  .product-card__footer .md-button{
    min-height: 0;
    height: 35px;
    line-height: 35px;
    &.add-to-project, &.page-href, &.back-to-add{
      height: 47px;
      line-height: 47px;
    }
  }
  .top-buttons{
    padding: 16px 16px 0;
    a{
      cursor: pointer;
    }
    ng-md-icon{
      fill: #333;
    }
    a:hover{
      ng-md-icon{
        fill: #777;
      }
    }
  }
}
