.block-notification{
  .notification-item{
    .title-switch{
      cursor: pointer;
      outline: none;
    }
    md-switch{
      margin: 5px;
      &.md-checked .md-thumb{
        background-color: rgb(100, 173, 69);
      }
      &.md-checked .md-bar{
        background-color: rgb(100,220,69);
      }
    }
  }
}
.onboarding-home{
  md-content{
    background-color: transparent;
  }
  .section-header{
    padding-top: 24px;
    h2{
      font-weight: normal;
      font-size: 26px;
      margin: 0;
    }
    h3{
      margin: 24px 0;
    }
  }
  .section-skip{
    padding-bottom: 8px;
  }
  .section-footer{
    padding-top: 16px;
    h2{
      color: #64B045;
    }
  }
  .background{
    @include borderRadius(5px);
    background-color: #fff;
  }
  .section{
    padding: 20px 48px;
    img{
      height: auto;
    }
    .text{
      padding: 0 16px;
    }
    h3{
      font-weight: normal;
      margin: 4px 0;
      a{
        text-decoration: none;
        color: inherit;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    h2{
      margin: 4px 0;
      a{
        text-decoration: none;
        color: inherit;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .md-button.dmc-button{
      text-transform: none;
      width: 125px;
    }
    .complete:not([disabled]):hover{
      background-color: rgba(0, 0 , 0, 0.2);
    }
  }
}

.onboarding-widget{
  .section{
    padding: 16px 0;

    img{
      height: auto;
    }
    .text{
      padding: 0 16px;
    }
    h3{
      font-weight: normal;
      margin: 4px 0;
    }
    h2{
      margin: 4px 0;
      a{
        text-decoration: none;
        color: inherit;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  md-divider{
    width: 100%
  }
}
.basic-informations{
  padding: 36px;
  pre{
    white-space: pre-line;
  }
  h3{
    font-weight: normal;
    margin: 4px 0;
  }
  h2{
    margin: 4px 0;
  }
  .header{
    margin-bottom: 36px;
  }
  .left-input{
    padding-right: 16px;
  }
  .right-input{
    padding-left: 16px;
  }
  .button-aria{
    margin-bottom: 10px;
  }
}

.onboarding-section{
  .add-new-contact{
    margin-right: 0;
    text-transform: none;
  }
  .delete-contact-method{
    position: absolute;
    right: -20px;
    bottom: 16px;
    ng-md-icon{
      fill:#999;
    }
    &:hover{
      ng-md-icon{
        fill:#333;
      }
    }
  }

  .return{
    margin-bottom: 20px;
  }
  h2{
    margin-bottom: 3px;
  }
  h3{
    font-weight: normal;
  }

  ui-view{
    background-color: #fff;
    padding: 16px;
  }
  .transparent-onboarding{
    background-color: transparent;
    padding: 0;
  }
  .padding-onboarding{
    padding: 16px;
  }
  .right-column{
    background-color: #fff;
    padding: 16px;
    md-list{
      padding: 0;
      md-list-item{
        padding: 0;
        md-icon{
          margin: 0 16px 0 0;
          height: 26px;
          width: 26px;
        }
        .number{
          position: relative;
          font-weight: 900;
          font-size: 14px;
          text-align: center;
          border: 2px solid #64AD45;
          border-radius: 50%;
          color: #64AD45;
          height: 26px;
          width: 26px;
          margin: 0 16px 0 0;
          span{
            margin-left: -2px;
          }
        }
        h2{
          margin: 8px 0
        }
        h3.active{
          font-weight: bold;
        }
        .link{
          text-transform: none;
        }
      }
    }
  }
  .left-column{
    padding-left: 25px;
    h3{
      margin: 0 0 16px;
    }
    .onboarding-foter{
      margin-top: 16px;
    }
    .ip-container{
      position: relative;
    }
    .correct-ip{
      position: absolute;
      bottom: 25px;
      right: 0px;
      fill: #4CAF50;
    }
    .flow-box{
      margin: 0;
      width: 100%;
    }
    md-chips .md-chips{
      box-shadow: none;
      md-chip{
        border-radius: 0px;
        a{
          text-decoration: none;
          color: inherit;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .tags-chip{
        padding-right: 32px;
        .md-icon-button{
          position: absolute;
          right: 0;
          top: 0;
          min-height: 32px;
          height: 32px;
          line-height: 32px;
          min-width: 32px;
          width: 32px;
          margin: 0;
        }
      }
    }
    .boxForAddImage,
    .boxForAddVideo,
    .boxForAddContact{
      border: 1px solid #ccc;
      @include borderRadius(3px);
      padding: 8px;
      margin-top: 13px;
      background-color: #f2f2f2;
      md-input-container{
        padding-bottom: 0;
      }
      .contactMethodTextarea{
        padding-bottom: 25px;
      }
      button{
        margin: 13px 0 0 5px;
        &.dmc-button{
          margin-top: 0;
        }
      }
    }
	  .servers-container{
	    border: 1px solid #e1e1e1;
	    margin: 8px 0 13px 0;
	    padding-top: 4px;
	    @include borderRadius(3px);
	  }
	  .servers-table{
	    th,td{
	      text-align: center;
	      div {
	        display: block;
	      }
	    }
	    th:nth-child(3),
	    th:nth-child(2),
	    td:nth-child(3),
	    td:nth-child(2){
	      text-align: left;
	    }
	    tr{
	      outline: none;
	    }
	    td{
	      font-size: 16px;
	      div {
	        text-transform: none;
	      }
	      md-input-container{
	        padding-bottom: 0;
	      }
	    }
	    .status{
	      ng-md-icon{
	        fill:#ccc;
	      }
	      &.status-online{
	        ng-md-icon{
	          fill:#65AF3F;
	        }
	      }
	    }
	  }
	.list-images{
	    &-item{
	      margin-bottom: 13px;
	      position: relative;
	      margin-top: 13px;
	      margin-right: 8px;
	      md-input-container{
	        padding-bottom: 0;
	        width: 146px;
	      }
	      .img {
	        overflow: hidden;
	        width: 150px;
	        height: 115px;
	        img {
	          width: 150px;
	        }
	      }
	      .md-button{
	        position: absolute;
	        right: 3px;
	        margin: 0;
	        top: 3px;
          background-color: #CD3F3F;
	        ng-md-icon {
	          fill: #fff;
	        }
	      }
	    }
	}
    .company-step5{
      .list-images,
      .list-videos{
        h3{
          margin: 0;
        }
      }
      .list-videos{
        margin-bottom: 10px;
      }
    }
    .company-step6{
      .list-images{
        margin-bottom: 10px;
      }
    }
    .company-step10{
      .title-list-contacts{
        h3{
          margin: 0;
        }
      }
    }
    .contact-item{
      border: 1px solid #ddd;
      @include borderRadius(3px);
      padding: 8px;
      margin-top: 13px;
      md-input-container{
        padding-bottom: 5px;
      }
    }
    .video-item{
      border: 1px solid #ddd;
      @include borderRadius(3px);
      padding: 8px;
      margin-top: 13px;
      md-input-container{
        padding-bottom: 5px;
      }
    }
    .img-box{
      //width: 170px;
      //margin-right: 16px;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
      height: 200px;
      background-position: center;
      background-size: cover;
      .removed-images{
          position: absolute;
          right: 3px;
          margin: 0;
          top: 3px;
          background-color: #CD3F3F;
          ng-md-icon {
            fill: #fff;
          }
        }
    }
  }
}
