<div>
    <div layout="row" layout-align="center center">
        <md-button aria-label="Favorite" ng-click="addToFavorite()" class="md-icon-button" flex>
            <ng-md-icon ng-if="!cardSource.favorite" icon="favorite_outline" style="fill: grey;" size="18"></ng-md-icon>
            <ng-md-icon ng-if="cardSource.favorite" icon="favorite" style="fill: #689F38;" size="18"></ng-md-icon>
        </md-button>
    </div>
    <div class="member-card__image">
        <img style="width: 80px" ng-src="{{cardSource.image}}" alt="Name member">
    </div>
    <div class="member-card__header" layout="column" layout-padding layout-margin>
        <h3 class="member-name"><a ng-href="{{'profile.php#/'+cardSource.id}}">{{cardSource.displayName}}</a></h3>
        <span class="company-name"><a ng-href="{{'company-profile.php#/profile/'+cardSource.companyId}}">{{cardSource.company}}</a></span>
    </div>
    <div class="member-card__content" layout="row" layout-padding flex>
        <div class="member-card__content__column" flex="28" layout="column">
            <div class="star-rating">
                <div class="star-rating__buttons">
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14" ></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #f28e1e;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                    <md-button aria-label="Star" md-no-ink class="md-icon-button"><ng-md-icon aria-label="" icon="star" style="fill: #c7c7c7;" size="14"></ng-md-icon></md-button>
                </div>
                <div class="star-rating__value">
                    <span class="small-text">(2,2)</span>
                </div>
            </div>
            <div class="member-card__details">
                <p class="description">{{cardSource.description}}</p>
            </div>
        </div>
    </div>
    <div class="product-card__footer" layout="row">
        <md-button aria-label="Share" flex ng-click="share(cardSource.id)">
            Share
        </md-button>
    </div>
</div>
