<div class="footer" layout-padding>
    <div class="footer-menu">
        <ul>
            <li><md-button class="link-button" href="faq.php" md-no-ink>FAQ</md-button></li>
            <li><md-button class="link-button" href="/" md-no-ink>Terms of Service</md-button></li>
            <li><md-button class="link-button" href="/contact-us.php" md-no-ink>Contact Us</md-button></li>
            <li id="feedback-button"></li>
            <li><md-button class="link-button" href="http://dmdii.uilabs.org/membership/become-a-member" md-no-ink>Become a DMDII Member</md-button></li>
            
        </ul>
    </div>
    <div class="copyright copyright-home">
        <a href="http://dmdii.uilabs.org/">
            <img alt="Digitial Manufacturing and Design Innovation Institute" src="images/ui-labs-logo.svg"  style="max-width:20%">
        </a>
        <p>© 2015 Digital Manufacturing Commons</p>
    </div>
</div>
